.spot {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

    &-left {
        width: 45%;

        &__bigimgs {
            &-img {
                max-width: 100%;
                overflow: hidden !important;
                border-radius: 25px !important;
            }
        }

        &__smallimgs {
            margin-top: 30px;
            &-img {
                overflow: hidden;
                margin: 0 15px;
                max-width: 21%;
                border-radius: 25px;
                border: 3px solid transparent;
                cursor: pointer;

                &.slick-current {
                    opacity: .5;
                    border-color: hsl(26, 100%, 55%);;
                }
            }
        }
    }
    
    &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 42%;
        gap: 30px;

        &__title {
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: hsl(26, 100%, 55%);
        }

        &__product {
            font-size: 40px;
            font-weight: bold;
        }

        &__text {
            font-size: 18px;
            color: hsl(219, 9%, 45%);
        }

        .price-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        
        &__price {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 30px;
            font-weight: bold;

            

            &-span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 30px;
                background-color:rgba(255, 125, 26, 0.119);
                font-size: 18px;
                color: hsl(26, 100%, 55%);
            }
        }

        &__oldprice {
            font-size: 18px;
            color: hsl(220, 14%, 75%);
            text-decoration: line-through;
        }

        &__buy {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 40%;
            height: 70px;
            background-color: hsla(220, 14%, 75%, 0.266);
            border-radius: 10px;

            &-container {
                display: flex;
                gap: 40px;
            }

            &-quantity {
                border: none;
                background-color: transparent;
                text-align: center;
                color: #000;
                font-weight: bold;
                font-size: 15px;
            }

            &-plus, 
            &-minus {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70px;
                width: 40px;
                cursor: pointer;            
            }

            &-img {
                width: 20px;
            }

            &-addcart {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                width: 60%;
                background-color: hsl(26, 100%, 55%);
                height: 70px;
                border-radius: 10px;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;

            }
        }

    }
}

